

.card{
  .card-header{
    display: flex;
    padding: 0;
    padding: 1rem 0.5rem;
    justify-content: space-between;
    align-items: center;

    h1 {
      font-size: 16px;
      margin: 0;
      flex: 1;
    }
    .stars{
      width: 80px;
      display: flex;
      align-items: center;
      i {
        color: darkgoldenrod;
        font-size: 32px;
        margin-right: 5px;
      }
      span {
        font-size: 0.8rem;
      }
    }

  }
  .card-content{
    padding: 1rem 0.5rem;
    .inner{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    img{
      display: block;
      width: 100px;
      height: auto;
      border-radius: 50%;
    }
    .nickName{
      font-size: 0.8rem;
      display: flex;
      align-items: center;
      span{font-size: 0.9rem;}
      i {
        font-size: 24px;
        margin-right: 3px;
      }
    }
    .desc{
      padding: 1rem 0;
      font-size: 0.9rem;
    }
  }
  .card-footer{}
}



